/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --backgroung-image: url(../images/cover-image-light.png);
  --button-color: #353430;
  --currently-color: #FF8DCB;
  --title-color: #FFC2E6;
  --hed-text-color: #353430;
  --text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
  --backgroung-image: url(../images/cover-image-light.png);
  --button-color: #353430;
  --currently-color: #FF8DCB;
  --title-color: #FFC2E6;
  --hed-text-color: #353430;
  --text-color: #353430;
}
}

.theme-light .rec-doing {
  display: none;
}