/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight:400px;
  margin: 0 auto;
  line-height:23.4px;
}
.header {
  min-block-size: 100vh;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  padding:20px;
}
.header__theme-menu{

}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
} 
.header__theme-menu-button {
  padding: 1.5px 13px;
  text-align: center;
  border: none;
  background: transparent;
  color: var(--button-color);
}
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 0, 112, 0.40);
}

.rec-doing {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 0;
  right: 0;
  padding-right: 8px;
  color: var(--button-color);
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
}

.rec-doing::after {
  display:block;
  inline-size: 11px;
  block-size: 11px;
  content: "";
  border-radius: 60%;
  fill: var(--button-color);
  background-color: var(--button-color);
  filter: drop-shadow(0px 0px 4px var(--button-color));
}
.header-description {
  max-inline-size: 491px;
  justify-self: end;
  align-self: center;
}

.header__title {
  text-shadow: 4px 4px 0 var(--button-color);
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin-left: -21px;
  line-height: 83%;
  
}
.dec__text{
  font-weight: 700;
  background-color: var(--button-color);
  line-height:23.4px;
  font-size: var(--font-size);
  color: var(--hed-text-color);
}
.palki::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.palki::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}
.first__quest {
  
}





