/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
}
.header {
  min-block-size: 100vh;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  padding:20px;
}
.header__theme-menu{

}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.header__theme-menu-button {
  padding: 1.5px 13px;
  text-align: center;
  border: none;
  background: transparent;
  color: var(--button-color);
}
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 0, 112, 0.40);
}





